# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing
.pytest_cache/
.coverage
htmlcov/

# Environment & local data
.env
data/*.db
data/*.sqlite3
data/*.sqlite
logs/

# Uploads
uploads/*
!uploads/.gitkeep

# Executables & Binaries
*.exe
*.dll
*.zip
*.log
cf_*.txt
ngrok_*.txt

# IDE
.vscode/
.idea/
*.swp
